h1 {
    font-family: sans-serif;
    text-decoration: underline;    
    }
.button1_next{
    position: absolute;
    top: 885px;
    left: 1700px;
}
.button2_next{
    position: absolute;
    top: 885px;
    left: 1700px;
}
.button2_back{
    position: absolute;
    top: 885px;
    left: 140px;
}
.button3_next{
    position: absolute;
    top: 885px;
    left: 1700px;
}
.button3_back{
    position: absolute;
    top: 885px;
    left: 140px;
}
.button4_back{
    position: absolute;
    top: 885px;
    left: 140px;
}
